<app-title title={{activity.name}}></app-title>
<ul class="cards">
    <li class="cards__item">
      <div class="card">
        <div class="card__image card__image--fence" [ngStyle]="{'background-image': 'url('+activity.image+')'}"></div>
        <div class="card__content">
          <p class="card__text">{{activity.description}}</p>
          <div class="card__title">{{activity.created_at}}</div>
        </div>
        <mat-card-actions>
          <button (click)="goToEditActivity()" mat-button>EDITAR</button>
        </mat-card-actions>
      </div>
    </li>
</ul>