* {
    margin: 0;
    padding: 0;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px .5em 1em, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: .5em;

    .logo {
        .img {
            width: 75px;
            cursor: pointer;
        }
    }

    .nav-menu {
        display: flex;
        flex-flow: row wrap;
        text-decoration: none;
        list-style: none;

        .nav-item {
            padding: 10px;
            transition: all .2s;
            border-radius: 5px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.19);
            }

            .nav-item-link {
                color: black;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }

}

.hidden {
    display: none;
}

.active {
    font-weight: bold;
}


.dropdown {
    &:hover {
        .dropdown-content {
            display: block;
        }
    }

    .dropdown-content {
        background-color: white;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        display: none;

        li {
            padding: 10px;
            list-style: none;
            transition: all .2s;
            border-radius: 5px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.19);
            }

            a {
                text-decoration: none;
            }
        }

    }
}