* {
    margin: 0;
    padding: 0;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px .5em 1em, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: .5em;

    .logo {
        .img {
            width: 75px;
            cursor: pointer;
        }
    }

    .nav-menu {
        display: flex;
        flex-flow: row wrap;
        text-decoration: none;
        list-style: none;

        .nav-item {
            padding: 10px;
            transition: all .2s;
            border-radius: 5px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.19);
            }

            .nav-item-link {
                color: black;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }

}

.hidden {
    display: none;
}

.lbl {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

.active {
    font-weight: bold;
}


.dropdown {
    &:hover {
        .dropdown-content {
            display: block;
        }
    }

    .dropdown-content {
        background-color: white;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        display: none;

        li {
            padding: 10px;
            list-style: none;
            transition: all .2s;
            border-radius: 5px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.19);
            }

            a {
                text-decoration: none;
            }
        }

    }
}



@media screen and(max-width: 600px) {
    #check:checked~ul {
        display: flex;
        flex-flow: column wrap;
    }

    .nav {

        .nav-menu {
            width: 100%;
            display: none;
            position: absolute;
            top: 10%;
            left: 0;
            background-color: white;
            z-index: 9999;

            .nav-item {
                width: 100%;

                .nav-item-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    font-size: 1.5em;
                }

            }

            box-shadow: rgba(0, 0, 0, 0.19) 0px .5em 1em, rgba(0, 0, 0, 0.23) 0px 6px 6px;

        }
    }

    .lbl {
        display: block;
    }



}