<div class="contenedor">
    <form [formGroup]="formulario" (ngSubmit)="enviar()">
        <div class="contenedor-textarea">
            <textarea class="textarea" formControlName="txtMensaje" cols="30" rows="5" placeholder="Ingrese nuevo texto de bienvenida"></textarea>
        </div>

        <div class="contenedor-slide">
            <div class="file-input">
                <label for="file1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                        <path
                            d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                        </path>
                    </svg>
                    <span>Elija una imagen</span>
                </label>
                <input type="file" formControlName="img1" class="file" id="file1" >
            </div>
            <div class="textito">    
                <input type="text" class="text-for-file" formControlName="txtimg1" placeholder="Texto para la imagen">
            </div>
        </div>

        <div class="contenedor-slide">
            <div class="file-input">
                <label for="file2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                        <path
                            d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                        </path>
                    </svg>
                    <span>Elija una imagen</span>
                </label>
                <input type="file" formControlName="img2" class="file" id="file2" >
            </div>
            <div class="textito">
                <input type="text" class="text-for-file" formControlName="txtimg2" placeholder="Texto para la imagen">
            </div>
        </div>

        <div class="contenedor-slide">
            <div class="file-input">
                <label for="file3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                        <path
                            d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                        </path>
                    </svg>
                    <span>Elija una imagen</span>
                </label>
                <input type="file" formControlName="img3" class="file" id="file3">
            </div>
            <div class="textito">
                <input type="text" class="text-for-file" formControlName="txtimg3" placeholder="Texto para la imagen">
            </div>
        </div>

        <div class="btn-submit">
            <button class="boton" type="submit"> Aceptar </button>
        </div>
    </form>

</div>