<app-title title="LISTADO DE ACTIVIDADES"></app-title>
<div class="table-container">
  <div class="button-container">
    <button (click)="onCreateClick()">Crear Nueva</button>
  </div>
<table mat-table [dataSource]="dataSource$" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>ACTIVIDAD</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>IMAGEN</th>
      <td mat-cell *matCellDef="let element"><img src={{element.image}} alt="Imagen de actividad"></td>
    </ng-container>

    <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef>FECHA DE CREACION</th>
        <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
      </ng-container>

    <ng-container matColumnDef="actions" >
      <th mat-header-cell *matHeaderCellDef ></th>
      <td mat-cell *matCellDef="let activity">
        <a mat-icon-button (click)="editActivity(activity)">
          <mat-icon >edit</mat-icon>
        </a>
        <a mat-icon-button (click)="deleteActivity(activity)">
          <mat-icon color="warn">delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>