<div class="contenedor">

    <form class="form" [formGroup]="formulario" (ngSubmit)="enviar()">

        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input  type="text" formControlName="txtName" matInput placeholder="Ingrese Nombre"
                class="noresize" rows="5">
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Descripcion</mat-label>
            <textarea formControlName="txtDescription" matInput placeholder="Ingrese descripcion"
                class="noresize" rows="5"></textarea>
        </mat-form-field>

        <div class="contenedor-imagen-texto">
            <mat-form-field class="form-field" appearance="fill">
                <ngx-mat-file-input  (change)="fileEvent($event)" formControlName="img" matInput placeholder="Seleccione una imagen">
                </ngx-mat-file-input>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" type="submit">Enviar </button>
    </form>

</div>