<div>
    <h2>Registrate!</h2>

    <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">

        <input type="text" name="name" formControlName="name" placeholder="Ingrese su nombre">
        <div *ngIf="f.name.errors && f.name.touched">
            <span *ngIf="f.name.errors.required">El campo nombre es requerido</span>
            <span *ngIf="f.name.errors.minlength">El campo Nombre debe tener 2 caracteres como minimo</span>
        </div>

        <input type="email" name="email" formControlName="email" placeholder="Ingresar Email">
        <div *ngIf="f.email.errors  && f.email.touched">
            <span *ngIf="f.email.errors.required">El campo Email es requerido</span>
            <span *ngIf="f.email.errors.email">Ingrese un Email valido.</span>
        </div>

        <input type="password" name="password" formControlName="password" placeholder="Ingresar contraseña">
        <div *ngIf="f.password.errors  && f.password.touched">
            <span *ngIf="f.password.errors.required">El campo contraseña es requerido</span>
            <span *ngIf="f.password.errors.minlength">Contraseña debe tener 6 caracteres como minimo</span>
            <span *ngIf="f.password.errors.pattern">La contraseña debe contener al menos un número, una letra y un símbolo (por ejemplo: @#$%).</span>
        </div>
        <input type="password" name="confirm_password" formControlName="confirm_password" placeholder="Confirmar contraseña">
        <div *ngIf="f.confirm_password.errors  && f.confirm_password.touched">
            <span *ngIf="f.confirm_password.errors.required">El campo confirmar contraseña es requerido</span>
            <span *ngIf="f.confirm_password.errors.minlength">Confirmar contraseña debe tener 6 caracteres como minimo</span>
            <span *ngIf="f.confirm_password.errors.pattern">La contraseña debe contener al menos un número, una letra y un símbolo (por ejemplo: @#$%).</span>
            <span *ngIf="f.confirm_password.errors.mustMatch">No coinciden las contraseñas</span>
        </div>
        <input type="submit" value="Registrarse" [disabled]="registerForm.invalid">

    </form>

</div>
