.btn-logout-register{
    display: block;
    color: whitesmoke;
    margin: 0px auto;
    margin-top: 2vh;
    width: 9em;
    border-radius: 5em;
    background-color: #FF0000;
}
.btn-logout-register:hover{
    background-color: #c00707;
}
.h1{
    font-weight: bold;
    font-size: 3em;
}