<app-title [title]="myTitle"></app-title>
<div class="container">
    <form class="search-form">
        <mat-form-field class="search-field" appearance="fill" (keyup)="search.next($event)">
            <mat-label>Busque novedad por título</mat-label>
            <input matInput>
          </mat-form-field>
    </form>    
    <div class="row">
        <div *ngFor="let new of newsLista$ |async" class="card">
            <div class="card-title">
                <h2>{{new.name}}</h2>
            </div>
            <div class="card-img">
                <img [src]="new.image">
            </div>
            <div class="card-body">
                <div [innerHTML]="new.content"></div>
                <div *ngIf="mostrarFechaAct(new.created_at,new.updated_at)">
                    <p>Fecha de actualización: {{new.updated_at | date :'dd/MM/yy'}}</p>
                </div>
                <div *ngIf="!mostrarFechaAct(new.created_at,new.updated_at)">
                    <p>Fecha de creación: {{new.created_at | date :'dd/MM/yy'}}</p>
                </div> 
                <button type="button" (click)="detalleVer(new)" mat-raised-button color="warn">VER DETALLE</button>
            </div>
        </div>  
    </div>
</div>
<div>
    <app-title [title]="anotherTitle"></app-title>
    <app-vjs-player [options]="{autoplay: true, fluid: true, aspectRatio:'16:9', sources: [{ src: 'https://www.youtube.com/watch?v=4YnSk1gI_Oo', type: 'video/youtube'}] }"></app-vjs-player>
</div>
