html{
    box-sizing: border-box;
}
.container{
    margin:0 auto;
    width: 90%;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card{
    width: 47%;
    border: 1px solid rgb(48, 46, 46);
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.3s;
    display: flex;
    padding: 10px;
}

.card-img{
    text-align: center;
    flex:0 0 40%;
    align-items: center;
    display: flex;
    img{
        width: 100%;
        margin-top:10%;
        border-radius: 5px;
    }
    
}
.card:hover{
    transform: scale(1.01);
    box-shadow: 0 0 40px -10px rgba(0,0,0,0.25);
}

.card-body{
    margin:3px;
    margin-bottom:0px;
    padding-top:30px;
}

.card-title{
    position:absolute;
    h2{
        margin-top: 0;
        font-size: 1.9vw;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
}

/*Responsive*/

@media screen and (max-width:1170px){
    .card{
        width: 80%;
    }
}

@media screen and (max-width:900px){
    .container{
        width: 100%;
    }
    .card{
        width: 80%;
    }
}

@media screen and (max-width:700px){
    .container{
        width: 100%;
    }
    .card{
        display:initial;
        width:40%;
    }
    .card-body{
        padding-top:5px;
    }
    .card-img{
        display: block;
        flex: none;
    }
}

@media screen and (max-width:580px){
    .card{
        display:initial;
        width:80%;
    }
    .card-title h2{
        font-size:4.5vw;
    }

}
