.btn-logout-register{
    display: block;
    color: whitesmoke;
    margin: 0px auto;
    // margin-top: 2vh;
    width: 9em;
    border-radius: 5em;
    background-color: #FF0000;
}
.btn-logout-register:hover{
    background-color: #c00707;
}

.btn-login{
    display: block;
    margin: 0px auto;
    // margin-top: 2vh;
    width: 9em;
    border: 2px solid rgba(52, 51, 51, 0.267);
    border-radius: 5em;
}

.buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}