.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.card {
    flex: 30%;
    max-width: 200px;
    text-align: center;
    border: 0px;
}

.image-fit {
    vertical-align: middle;
    border-radius: 8px;
}

.negative-margin {
    margin-top: -20px;
}

.btn-red {
    background-color: #DB5752;
    color: white;
    margin: 5px;
}

.member-description {
    margin-top: -127px;
    color: white;
    text-shadow: 1px 1px black;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}