<form [formGroup]="formSlides" (ngSubmit)="onSubmit()">
  <div class="container">
    <h1>Slides</h1>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput name="name" type="text" formControlName="name" />
    </mat-form-field>
    <mat-error
      *ngIf="formSlides.get('name')?.touched && formSlides.get('name')?.invalid"
    >
      Name is required.</mat-error
    >

    <ckeditor
      [editor]="Editor"
      rows="8"
      type="text"
      [config]="{
        placeholder: 'Description'
      }"
      placeholder="Type the content here!"
      formControlName="desc"
    ></ckeditor>
    <mat-error
      *ngIf="formSlides.get('desc')?.touched && formSlides.get('desc')?.invalid"
    >
      Description is required.</mat-error
    >

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Order</mat-label>
      <input matInput name="order" type="number" formControlName="order" />
      <mat-error
        *ngIf="
          formSlides.get('order')?.touched && formSlides.get('order')?.invalid
        "
      >
        Invalid order.</mat-error
      >
    </mat-form-field>
    <mat-label>Subir Imagen</mat-label>
    <ckeditor
      [editor]="Editor"
      matInput
      [config]="editorConfig"
      formControlName="image"
    >
    </ckeditor>
    <mat-error
      *ngIf="
        formSlides.get('image')?.touched && formSlides.get('image')?.invalid
      "
    >
      Image is required.</mat-error
    >

    <button type="submit" mat-button color="primary">Submit</button>
  </div>
</form>
