<app-title title="NUESTRAS ACTIVIDADES"></app-title>
<div id="carouselExampleIndicators" #mycarouselControls class="carousel slide" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators">
        <button data-bs-target="#carouselExampleIndicators"  *ngFor="let item of activities$| async;let index = index; first as isFirst" [ngClass]="{active:isFirst}" [attr.data-bs-slide-to]="index"></button>
    </ol>
    <div class="carousel-inner" >
            <div class="carousel-item" *ngFor="let activity of activities$ | async; let i=index; first as isFirst" [ngClass]="isFirst ? 'active' : ''">
                <app-slides [activity]="activity"></app-slides> 
            </div>                                
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>