<div class="contenedor">
  <hr />
  <div class="columns">
    <div class="columna-1">
      <div class="orgName">{{ orgData.name }}</div>
      <img [src]="orgData.logo" alt="" />
    </div>
    <div class="columna-2">
      <div class="orgName"><p>secciones</p></div>
      <a routerLink="">Inicio</a>
      <a routerLink="nosotros">Nosotros</a>
      <a routerLink="novedades">Novedades</a>
      <a routerLink="">Testimonios</a>
      <a routerLink="contacto">Contacto</a>
      <a routerLink="">Contribuye</a>
    </div>
    <div class="columna-3">
      <div class="columna-interior">
        <div class="orgName"><p>Nuestras Redes</p></div>
        <div class="facebook">
          <i class="fab fa-facebook"></i>
          <a [href]="orgData.facebook_url">Facebook</a>
        </div>
        <div class="linkedin">
          <i class="fab fa-linkedin"></i>
          <a [href]="orgData.linkedin_url">Linkedin</a>
        </div>

        <div class="instagram">
          <i class="fab fa-instagram"></i>
          <a [href]="orgData.instagram_url">Instagram</a>
        </div>
        <div class="twitter">
          <i class="fab fa-twitter"></i>
          <a [href]="orgData.twitter_url">Twitter</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="registered">2022 by Alkemy. All Rights Reserved.</div>
</div>
