<div class="container">
  <app-slides-search class="buscador" (debounceOutput)="filtrarSlides($event)" ></app-slides-search>
  <app-link [routerLink]="routerPath" [linkReference]="linkRef"></app-link>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Imagen</th>
      <td mat-cell *matCellDef="let i">
        <div class="cell">
          <img [src]="i.image" alt="" />
        </div>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let i">
        <div class="cell">{{ i.name }}</div>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef>Orden</th>
      <td mat-cell *matCellDef="let i">
        <div class="cell">{{ i.order }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let i = index">
        <div class="cell">
          <a mat-icon-button (click)="editSlide(i)">
            <mat-icon>edit</mat-icon>
          </a>
          <a mat-icon-button (click)="deleteSlide(i)">
            <mat-icon color="warn">delete</mat-icon>
          </a>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
