.example-card {
    max-width: 400px;
    background-color: #DB5752 ;
    color: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
  }
  
  