<form [formGroup]="formOrganization" (ngSubmit)="onSubmit()" #ngForm="ngForm">
  <div class="container">
    <h1>EDITAR ORGANIZACION</h1>
    <img [src]="logo" alt="logo" />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput name="name" type="name" formControlName="name" />
    </mat-form-field>
    <div
      class="invalid-inputs"
      *ngIf="
        formOrganization.get('name')?.touched &&
        formOrganization.get('name')?.invalid
      "
    >
      El nombre es requerido.
    </div>
    <!-- Acá va Logo y short desc con CKEditor -->
    <mat-label class="uploadLabel">Cambiar Logo</mat-label>
    <ckeditor
      [editor]="Editor"
      rows="8"
      formControlName="logo"
      [config]="editorConfig"
    ></ckeditor>
    <div
      class="invalid-inputs"
      *ngIf="
        formOrganization.get('logo')?.touched &&
        formOrganization.get('logo')?.invalid
      "
    >
      El logo es requerido.
    </div>

    <mat-label class="uploadLabel">Short Description</mat-label>
    <ckeditor [editor]="Editor" rows="8" formControlName="shortDesc"></ckeditor>
    <div
      class="invalid-inputs"
      *ngIf="
        formOrganization.get('shortDesc')?.touched &&
        formOrganization.get('shortDesc')?.invalid
      "
    >
      Short Description es requerida.
    </div>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Long Description</mat-label>
      <input matInput name="longDesc" type="text" formControlName="longDesc" />
    </mat-form-field>
    <div
      class="invalid-inputs"
      *ngIf="
        formOrganization.get('longDesc')?.touched &&
        formOrganization.get('longDesc')?.invalid
      "
    >
      Long Description es requerida.
    </div>

    <!-- FB, Linkedin, IG, TW -->

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Facebook URL</mat-label>
      <input matInput name="facebook" type="url" formControlName="facebook" />
    </mat-form-field>
    <div
      class="invalid-inputs"
      *ngIf="
        formOrganization.get('facebook')?.touched &&
        formOrganization.get('facebook')?.invalid
      "
    >
      Invalid URL.
    </div>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Linkedin URL</mat-label>
      <input matInput name="linkedin" type="url" formControlName="linkedin" />
    </mat-form-field>
    <div
      class="invalid-inputs"
      *ngIf="
        formOrganization.get('linkedin')?.touched &&
        formOrganization.get('linkedin')?.invalid
      "
    >
      Invalid URL.
    </div>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Instagram URL</mat-label>
      <input matInput name="instagram" type="url" formControlName="instagram" />
    </mat-form-field>
    <div
      class="invalid-inputs"
      *ngIf="
        formOrganization.get('instagram')?.touched &&
        formOrganization.get('instagram')?.invalid
      "
    >
      Invalid URL.
    </div>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Twitter URL</mat-label>
      <input matInput name="twitter" type="url" formControlName="twitter" />
    </mat-form-field>
    <div
      class="invalid-inputs"
      *ngIf="
        formOrganization.get('twitter')?.touched &&
        formOrganization.get('twitter')?.invalid
      "
    >
      URL inválida.
    </div>
    <button
      [disabled]="!formOrganization.valid"
      type="submit"
      mat-button
      color="primary"
    >
      Enviar
    </button>
    <div
      class="invalid-inputs"
      *ngIf="!formOrganization.valid && ngForm.submitted"
    >
      Por favor complete todos los campos.
    </div>
  </div>
</form>
