<div class="wrapper">
  <div class="contenedor">
    <div class="cardOng">
      <p>Novedades</p>
      <img src="../../../../assets/img/news.png" alt="novedades" />
      <button routerLink="news">Ir</button>
    </div>
    <div class="cardOng">
      <p>Actividades</p>
      <img src="../../../../assets/img/activities.png" alt="actividades" />
      <button routerLink="activities">Ir</button>
    </div>
    <div class="cardOng">
      <p>Categorias</p>
      <img src="../../../../assets/img/categories.png" alt="categorias" />
      <button routerLink="categories">Ir</button>
    </div>
    <div class="cardOng">
      <p>Testimonios</p>
      <img src="../../../../assets/img/testimonies.png" alt="testimonios" />
      <button routerLink="testimonial">Ir</button>
    </div>
    <div class="cardOng">
      <p>Organización</p>
      <img
        src="../../../../assets/img/organization.png"
        alt="organizacion"
      /><button routerLink="organization">Ir</button>
    </div>
    <div class="cardOng">
      <p>Slides</p>
      <img src="../../../../assets/img/slides.png" alt="slides" />
      <button routerLink="slides">Ir</button>
    </div>
    <div class="cardOng">
      <p>Usuarios</p>
      <img src="../../../../assets/img/users.png" alt="usuarios" /><button
        routerLink="users"
      >
        Ir
      </button>
    </div>
    <div class="cardOng">
      <p>Miembros</p>
      <img src="../../../../assets/img/members.png" alt="miembros" /><button
        routerLink="members"
      >
        Ir
      </button>
    </div>
  </div>
</div>
