.container-list-members{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(231, 219, 219);
    padding-top: 5vh;
    padding-bottom: 4vh;
}
.search-member{
    width: 50%;
    margin: 0px auto;
    margin-bottom: 5vh;
}
.search-member label,.search-member input{
    border: 2px solid rgba(33, 32, 32, 0.267);
}
.search-member label{
    text-align: center;
    background-color: #444;
    color: whitesmoke;
    width: 30%;
    padding: 0.5vh;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}
mat-icon{
    font-size: 2.7em;
}

.search-member input{
    font-size: 3em;
    width: 60%;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

table {
    width: 60%;
    margin: 0px auto;
}

table td, table th{
    padding: 1em;
}
table img{
    width: 200px;
    height: 200px;
}
h2{
    display: block;
    text-align: center;
    font-size: 5em;
    padding-bottom: 4vh;
}
button{
    display: block;
    background-color: rgb(17, 174, 17);
    color: whitesmoke;
    margin: 0px auto;
    margin-bottom: 4vh;
}

.spinner-loading-members{
   display: flex;
    width: 100px;
    margin: 0px auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.spinner-loading-members p{
    font-size: 3em;
}

.search-failed h3{
    margin-top: 7vh;
    font-size: 4em;
    text-align: center;
}


@media (max-width: 1000px) {
    table {
        width: 80%;
    }
    h2{
        font-size: 4em;
    }
    .search-member{
        width: 70%;
    }
    .search-failed h3{
        font-size: 3em;
        line-height: 6vh;
    }

}

@media (max-width: 700px) {
    h2{
        font-size: 3em;
    }
    table {
        width: 90%;
    }

    table img{
        width: 150px;
        height: 150px;
    }

    .search-member{
        width: 80%;
    }
    .search-member input{
        font-size: 2em;
        width: 80%;
    }

    .search-member label{
        padding-top: 0.2vh;
        width: 20%;
    }
    mat-icon{
        font-size: 2em;
    }
}

@media (max-width: 550px) {
    h2{
        font-size: 2em;
    }
    table {
        font-size: 1em;
    }

    table img{
        width: 100px;
        height: 100px;
    }
    
    table button{
        font-size: 10px;
        width: 3em;
    }

    table td, table th{
        font-size: 10px;
    }
}

@media (max-width: 390px) {

    table img{
        width: 85px;
        height: 85px;
    }
    
    table td, table th{
        padding: 0.5em;
    }

}