<div class="container">
    <mat-card>
        <h1 class="title"><b>Sobre Nosotros</b></h1>
        <div *ngIf="organization$ | async as organization">
            <div class="row">
                <div class="organization">
                    <div [innerHTML]="organization.short_description"></div>
                    <div [innerHTML]="organization.long_description"></div>
                </div>
                <div class="organization-links">
                    <a href="{{organization.facebook_url}}">
                        <button mat-mini-fab class="btn-red">
                            <i class="fab fa-facebook"></i>
                        </button>
                    </a>
                    <a href="{{organization.linkedin_url}}">
                        <button mat-mini-fab class="btn-red">
                            <i class="fab fa-linkedin"></i>
                        </button>
                    </a>
                    <a href="{{organization.instagram_url}}">
                        <button mat-mini-fab class="btn-red">
                            <i class="fab fa-instagram"></i>
                        </button>
                    </a>
                    <a href="{{organization.twitter_url}}">
                        <button mat-mini-fab class="btn-red">
                            <i class="fab fa-twitter"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </mat-card>
</div>